form(name="newPurchaseForm")
  .row
    .large-12.columns
      label Candidad
        input(type="number" ng-model="newPurchase.quantity" required)

    .large-12.columns
      label Descripcion
        input(type="text" ng-model="newPurchase.description" required)

    .large-12.columns
      label Precio
        input(type="number" ng-model="newPurchase.price" required)

    .large-12.columns
      label
        b Total: 
        {{ newPurchase.quantity * newPurchase.price | currency : '₡' : 0  }}

    hr

    .large-12.columns
      button.button.expand(ng-click="newPurchase.save()" ng-disabled="newPurchaseForm.$invalid") Guardar