%nav.top-bar{ "ng-controller": "NavbarController" }
  %ul.title-area
    %li.name
      %h1
        %a{ href: "#" } Tienda LyL

  %section.top-bar-section
    %ul.right
      %li.active
        %a{ "ng-href": "#" } Inicio
      %li
        %a{ "ng-href": "#" } Acerca de
      %li
        %a{ "ng-href": "#contact-us" } Contacto
      %li
        %a{ "ng-href": "#" } Ingresar
