.row
  %div{ "ng-include": "'components/navbar/navbar.html'" }
%br
.row
  .large-6.columns
    .large-12
      %h1
        %small Bienvenido!
      %p Tenga acceso a sus cuentas y consulte el estado de las mismas.
      .button.large Consultar mis cuentas
  .large-6.columns
    %img{ src: "http://fashionblogmexico.com/wp-content/uploads/2013/10/comprar-ropa-online.jpg" }

%br
.row.panel#contact-us
  .large-12.columns
    %h3.text-center Contáctenos
  %hr
  .large-6
    %span Cañas, Guanacaste
    %span 2669-0636
  .large-6
    %img{ src: "" }

